.header-bar {
  display: flex;
  align-items: center;
  gap: 1rem;
  height: 100%;
}

.category-select {
  width: 200px;
}

.search-input {
  width: 450px;
}
.header-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px;
  background-color: #00152a;
}

.header-logo {
  color: var(--accent);
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
}

.header-controls {
  display: flex;
  gap: 12px;
}

.header-coin-label {
  font-size: 15px;
  color: var(--accent-soft);
  font-weight: 500;
  display: inline-block;
  min-width: 210px;
}

.header-coin-value {
  color: #fff;
  font-weight: 600;
  letter-spacing: 2px;
  display: inline-block;
  min-width: 110px;
  text-align: right;
}

.search-show-all {
  text-align: center;
  color: var(--accent-soft);
}
